.button {
  background: $blue;
  color: white;
  border: none;
  padding: $s-size;
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 8px;
}

.button--link {
  background: none;
}

.button--remove {
  background: #800;
}
