$s-size: 1.2rem;
$m-size: 1.6rem;
$ml-size: 2.4rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

/* Colours */
$grey: #666666;
$dark-gray: #333333;
$blue: #3765af;
$dark-blue: #0f3b68;
$off-white: #f7f7f7;
